<article class="dog detailed">
  <div class="details">
    <h3>{{@dog.name}}</h3>

    <div class="breed">
      <span>Breed:</span> {{@dog.breed}}
    </div>
    <div class="owner">
      <span>Owner:</span> {{@dog.owner}}
    </div>
    <div class="size">
      <span>Size:</span> {{@dog.size}}
    </div>
    <div class="description">
      <span>Description:</span> {{@dog.description}}
    </div>
    <div class="meals">
      <span>Meals:</span>
      <ul>
        <li>Breakfast: {{@dog.meals.breakfast}}</li>
        <li>Dinner: {{@dog.meals.dinner}}</li>
      </ul>
    </div>
    <div class="activities">
      <span>Activities:</span> {{@dog.activities}}
    </div>
  </div>
</article>