<div class="dog">
  <div class="details">
    <div class="name-edit">
      <h2>{{@dog.name}}</h2>
      <LinkTo @route="dog" class="edit-button" @model={{@dog}}>Edit</LinkTo>
    </div>
    <div class="category-item">
      <span class="category">Breed:</span> {{@dog.breed}}
    </div>
    <div class="category-item">
      <span class="category">Owner:</span> {{@dog.owner}}
    </div>
    <div class="category-item">
      <span class="category">Size:</span> {{@dog.size}}
    </div>
    <div class="category-item">
      <span class="category">Description:</span> {{@dog.description}}
    </div>
    <div class="category-item">
      <span class="category">Meals:</span>
      <ul>
        <li>Breakfast: {{@dog.meals.breakfast}}</li>
        <li>Dinner: {{@dog.meals.dinner}}</li>
      </ul>
    </div>
    <div class="category-item">
      <span class="category">Activities:</span> {{@dog.activities}}
    </div>
  </div>
</div>